/* *{
    margin: 0x;
    padding:0;
    box-sizing: border-box;
} */

.container {
  background-color: brown;
  height: 500px;
  border: 3px solid black;
  display: grid;
  /* grid-template-rows: 200px 200px 200px;
    grid-template-columns: 90px 90px 90px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr, 1fr, 30px;
  gap: 15px;
}

.box {
  background-color: aqua;
  border: 3px solid black;
  /* width: 80px; */
  /* height: 80px; */
}

#box1,
#box4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

#box3 {
  grid-row-start: 2;
  grid-row-end: 4;
}
