div {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
}

.translated {
  transform: perspective(15px) translateZ(-10px);
}

.scaled {
  margin-left: 100px;
  transform: rotateZ(30deg);
  /* transform: perspective(15px) scaleZ(2) rotateX(15deg) rotateX('45deg'); */
}
