.box {
  background-color: aqua;
  /* transform: translate(100px,20px);
    transform: rotate(-45deg); */
  margin: 200px;
  transform: scale(1, 2);
  /* transform: scaleX(1);
    transform: scale(4); */
  transform: skew(45deg);
}
